.root {
    -very-light-gray: #f7f7f7;
    -light-gray: #efefef;
    -mid-gray: #c5c5c5;
    -dark-gray: #a0a0a0;
    -text-light-gray: #949494;
    -text-dark-gray: #3f3f3f;

    -fx-font-size: 14px;
    -fx-background-color: white;
}

.button {
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-border-color: -mid-gray;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-background-color: -light-gray;
}

.button:armed {
    -fx-background-color: -mid-gray;
}

.label {
    -fx-padding: 10;
}

#title {
    -fx-font-size: 26;
}

/* Scroll bars */
.scroll-pane {
    -fx-background: -light-gray;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -mid-gray;
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: -light-gray;
}

.scroll-bar .thumb {
    -fx-background-color: -mid-gray;
    -fx-background-radius: 5;
}

.scroll-bar .thumb:hover {
    -fx-background-color: -dark-gray;
}

.scroll-bar .thumb:pressed {
    -fx-background-color: -text-light-gray;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.increment-button:hover, .decrement-button:hover {
    -fx-background-color: -mid-gray;
}

.increment-button:pressed, .decrement-button:pressed {
    -fx-background-color: -dark-gray;
}